@charset "UTF-8"; 

/*FONTES*/

/*Press Start 2P*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bree+Serif&family=Exo:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Press+Start+2P&family=Saira:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

/*Black Ops One*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bree+Serif&family=Shadows+Into+Light&display=swap');

/*Nanum Gothic Coding*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bree+Serif&family=Exo:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nanum+Gothic+Coding&family=Press+Start+2P&family=Saira:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

/*Work Sans*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Bree+Serif&family=Exo:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mooli&family=Nanum+Gothic+Coding&family=Press+Start+2P&family=Saira:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*DM Mono*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/*Kanit*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Corpo*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
    scroll-behavior: smooth;
    height: 100vh;
    user-select: none;
}
/*Texto - padrão*/
p {
    font-family: 'DM Mono';
    font-size: 16px;
    font-weight: normal;
    padding-left: 30px;
    padding-right: 30px;
}
    /*Titulos de cada seção*/
h2 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 22px;
    color: #cfcbcb;
}
/*Logo - GABRIEL HANEL*/
.logo {
    color: rgba(255, 255, 255, 0.842);
    font-size: 17px;
    text-shadow: 1px 1px 1px #050505;
    font-weight: bold;
    font-family: 'Press Start 2P';
    text-align: center;
    padding-bottom: 15px;
    white-space: nowrap;
}

/*Cabeçalho*/
header {
    background-color: transparent;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Garante que o menu fique acima de outros elementos */
    background-color: #050505;
}

/*Menu -> div + responsividade do menu */
.menu-toggle { 
    display: none; 
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    padding: 10px; 
    background-color: #050505; 
    color: rgb(150, 150, 150); 
    text-align: center;
    font-family: "Black Ops One";
    }
.menu-toggle:hover {
    color: #ffffffee;
    transition: 0.6s;
    background-color: darkgray;
    border-radius: 10px 10px;
    background-color: #004db3;
}
@media (max-width: 1180px) {
.menu { display: none; flex-direction: column; }
.menu-toggle { display: block;}
.menu.show { display: flex; height: 100%; padding-bottom: 500px; border-bottom: 600px;}
}
.menu-toggle:active {
    color: #0a3ba7;
}

/*Menu -> titulo*/
.textmenu {
    color: white;
}
.textmenu:hover {
    transition: 0.7s;
}

/*Menu -> lista*/
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    margin-left: 20px;
    padding: 14px 20px; 
}
nav ul li a {
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
    font-family: 'Black Ops One';
    padding: 11px;
    transition-duration: 0.8s;
    white-space: nowrap;
}
nav ul li a:hover {
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.623);
    border-radius: 15px;
    background-color: var(--azul06);
    color: rgb(45, 148, 243);
    text-shadow: 2px 2px 2px black;
}

/*Seções - PADRÃO*/
main {
    padding-top: 100px;
}
section {
    color: #DCE1DB;
    height: auto;
}

/*Frase "Seja bem vindo ao meu portfólio!" */
.boasvindas {
    font-size: 17px;
}

/* SEÇÃO "SOBRE MIM" */
    /*Minha foto - oculta*/
.myphoto {
    width: 180px;
    min-width: 40px;
}
.myphotodiv {
    align-items: center;
    justify-content: center;
    display: flex;
}
    /*Alinhar textos ao centro*/
.alinhatextosobremim {
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*Texto da seção*/
.textosobremim{
    width: 600px;
}

/*Link que leva à seção de contatos da pagina*/
.linktextosobremim {
    color: #ecdede;
    text-decoration: none;
}
.linktextosobremim:hover {
    text-decoration: underline;
}

/*SEÇÃO HABILIDADES*/

    /*DIV*/
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
    /*Imagem (HTML, CSS e Responsividade)*/
.container2 img {
    width: 90px;
    margin-right: 7px;
    padding-bottom: 20px;
    padding-left: 25px;
}
    /*Texto referente às habilidades*/
.container2 p {
    width: 300px;
}

/*SEÇÃO PROJETOS*/

/*DIV pai, controla a forma como os itens se posicionam*/
.projetospai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}
/*DIV filho, controla as divs em si, seus textos e imagens*/

    /*Sombra em cima de cada titulo*/
.projetosfilho {
    box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.212);
    border-radius: 15px;
}
    /*Links*/
        /*Posição deles*/
.projetosfilho > a {
    display: flex;
    justify-content: center;
    align-items: center;
}
        /*Configura o link em si*/
.linkportfolio {
    text-decoration: none;
    font-family: "Work Sans";
    color: slateblue;
    font-weight: bold;
    padding: 10px 15px;
    margin: auto;
}
.linkportfolio:hover {
    display: block;
    background-color: white;
    transition: 0.8s;
    border-radius: 50px;
    max-width: 500px;
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}

    /*Imagens*/
.projetosfilho img {
    align-items: center;
    width: 90px;
    max-width: 130px;
    padding-right: 20px;
}
    /*Textos*/
.projetoportfolio {
    width: 300px;
}
    /*Titulo dos projetos*/
.tituloprojeto {
    font-size: 15px;
}

/*SEÇÃO CURSOS*/
    /*Subtitulos dos cursos*/
h3 {
    font-family: 'DM Mono';
}
    /*Titulo*/
.cursostitle{
    color: #D3D8D1;
}
    /*Texto*/
.cursostexto {
    color: #ecdede;
    font-family: 'Kanit';
}
    /*Certificados - atualmente oculto*/
.certificado {
    text-decoration: none;
    padding-left: 10px;
}
.certificado:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
    transition-duration: 0.8s;
    color: rgb(108, 242, 247);
}

/*SEÇÃO CONTATOS*/
    /*Footer*/
footer {
    display: block;
}
footer p {
    color: white;
    padding-bottom: 35px;
    padding-top: 15px;
}
    /*Cards - DIV */
.containerCards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCards:hover .cards {
    opacity: .5;
}
.containerCards .cards:hover {
    opacity: 1;
}
    /*Cards*/
.cards {
    transition: all.3s;
} 
.cards:hover {
    transform: translateY(-15px);
}
    /*Imagens*/
.icones {
    width: 120px;
    opacity: 0.7;
    max-width: 60px;
}
.icones:hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
    opacity: 1.0;
}
    /*DIV que contorna todo o conteudo do site com exceção do footer*/
.container {
    margin: auto;
}
/*Centralizar textos e links dentro de um subtitulo*/
h3 > p, a {
    text-align: center;
}
/*Centralizar conteudos dentro das seções*/
section > h2, h3, p, a {
    text-align: center;
}
